<p>
  This is some beautiful content.
</p>

{{#read-button class="Excerpt-button"}}Blog post button{{/read-button}}

<div class="Excerpt-wrapButton">
  {{#read-button class="ReadButton--small"}}Smaller button{{/read-button}}
</div>
